<!-- app/views/supervisors/dashboard.html.erb -->

<div class="container">
  <h1 class="mt-4">Supervisor Dashboard</h1>

  <h2 class="mt-4">Requiring Users</h2>
  <div class="row">
    <% @requiring_users.each do |requiring_user| %>
      <div class="col-md-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title"><%= requiring_user.user.name %> <%= requiring_user.user.last_name %></h5>
            <p class="card-text">Email: <%= requiring_user.user.email %></p>
            <p class="card-text">Phone: <%= requiring_user.user.telephone %></p>
            <!-- Additional requiring user information -->
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <h2 class="mt-4">Executives</h2>
  <div class="row">
    <% @executives.each do |executive| %>
      <div class="col-md-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title"><%= executive.user.name %> <%= executive.user.last_name %></h5>
            <p class="card-text">Email: <%= executive.user.email %></p>
            <p class="card-text">Phone: <%= executive.user.telephone %></p>
            <!-- Additional executive information -->
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
