<h1>Edit Supervisor</h1>
<form class="row g-3" action="<%= supervisor_path(@supervisor) %>" method="post">
  <%= form_with(model: @supervisor, local: true) do |form| %>
    <div class="col-md-12">
      <label for="inputName" class="form-label">Name</label>
      <%= form.text_field :name, class: 'form-control', id: 'inputName' %>
    </div>
    <div class="col-md-12">
      <label for="inputLastName" class="form-label">Last Name</label>
      <%= form.text_field :last_name, class: 'form-control', id: 'inputLastName' %>
    </div>
    <div class="col-md-12">
      <label for="inputPhone" class="form-label">Phone</label>
      <%= form.text_field :phone, class: 'form-control', id: 'inputPhone' %>
    </div>
    <div class="col-md-12">
      <label for="inputEmail" class="form-label">Email</label>
      <%= form.email_field :email, class: 'form-control', id: 'inputEmail' %>
    </div>
    <div class="actions">
      <%= link_to 'Back to Supervisors', supervisors_path, class: 'btn btn-primary' %>
      <%= form.submit 'Update Supervisor' %>
      </div>
    </div>
  <% end %>
</form>
