<style>
  .btn-custom {
    background-color: #ffd8c8
  }
</style>
<h2>User Profiles</h2>
<ul>
  <h3>Administrator</h3>
    <h5><%= @admin.name %> <%= @admin.last_name %><h5/>
    <p>
    <%= link_to @admin_role do %>
        <button type="button" class = "btn btn-custom">Show profile</button>
      <% end %>
    </p>
  <hr/>
  <h4>Supervisors</h4>
  <% @supervisors.each_with_index do |s, index|%>
    <% supervisor_object = @supervisors_role[index + 1] %>
    <h5><%= s.name %> <%= s.last_name %><h5/>
    <p>
    <%= link_to supervisor_object do %>
        <button type="button" class = "btn btn-custom">Show profile</button>
      <% end %>
    </p>
  <% end %>
  <hr/>
  <h4>Executives</h4>
  <% @executives.each_with_index do |e, index| %>
    <% executive_object = @executives_role[index] %>
    <h5/><%= e.name %> <%= e.last_name %><h5/>
    <p>
    <%= link_to executive_object do %>
        <button type="button" class = "btn btn-custom">Show profile</button>
      <% end %>
    </p>
  <% end %>
  <hr/>
  <h4>Requiring Users</h4>
  <% @req_users.each_with_index do |r, index| %>
    <% req_user_object = @req_users_role[index] %>
    <h5/><%= r.name %> <%= r.last_name %><h5/>
    <p>
    <%= link_to req_user_object do %>
        <button type="button" class = "btn btn-custom">Show profile</button>
      <% end %>
    </p>
  <% end %>
</ul>