<div id="wrapper">
  <%= render partial: 'layouts/sidebar' %>
  <div class="container">
    <div class="container my-5">
      <h1 class="display-4">Tickets Report</h1>
      <div class="card">
          <div class="card-body">

          <%= form_tag(tickets_report_path, method: 'post', class: "mt-4") do %>
            <div class="row">
              <div class="col-md-4 mb-3">
                <%= label_tag(:start_date, 'Start Date:') %>
                <%= text_field_tag(:start_date, params[:start_date], class: "form-control", type: "date") %>
              </div>
              <div class="col-md-4 mb-3">
                <%= label_tag(:end_date, 'End Date:') %>
                <%= text_field_tag(:end_date, params[:end_date], class: "form-control", type: "date") %>
              </div>
              <div class="col-md-4 mb-3 align-self-end">
                <%= submit_tag('Generate Report', class: "btn btn-primary") %>
              </div>
            </div>
          <% end %>

          <% if @start_date.present? && @end_date.present? %>
            <p>Date Range: <%= @start_date %> to <%= @end_date %></p>
            <p>Total Tickets Created: <%= @tickets_created.count %></p>
            <p>Total Open Tickets: <%= @tickets_open.count %></p>
            <p>Total Closed Tickets: <%= @tickets_closed.count %></p>

            <div class="row">
              <div class="col-md-12 mb-5">
                <canvas id="ticketTagsHistogram"></canvas>
              </div>
            </div>

            <%= link_to 'Back', request.referer || tickets_report_path, class: "btn btn-primary" %>
          <% else %>
            <p>Please select a date range to generate the report.</p>
            <%= link_to 'Back', tickets_path, class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    // Get the ticket tags data from your backend and format it appropriately
    const ticketTagsData = <%= raw @ticket_tags_data.to_json %>;

    // Extract the tag names and counts from the data
    const tags = Object.keys(ticketTagsData);
    const counts = Object.values(ticketTagsData);

    // Create the histogram chart using Chart.js
    var ctx = document.getElementById("ticketTagsHistogram").getContext('2d');
    new Chart(ctx, {
      type: "bar",
      data: {
        labels: tags,
        datasets: [{
          label: "Ticket Tags",
          data: counts,
          backgroundColor: "rgba(75, 192, 192, 0.2)",
          borderColor: "rgba(75, 192, 192, 1)",
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true,
            stepSize: 1
          }
        }
      }
    });
  });
</script>

