<!-- Profile de un Requiring User -->

<%= @user.name %><%= @user.last_name %>

<div>
  <%= link_to "Edit this requiring user", edit_requiring_user_path(@requiring_user) %> |
  <%= link_to "Back to requiring users", requiring_users_path %>

  <%= button_to "Destroy this requiring user", @requiring_user, method: :delete %>
</div>
