<!-- Profile de un Requiring User -->

<style>
.btn-custom {
  background-color: #ffd8c8
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info h2 {
  margin-right: 30px;
}

.ticket-info {
  white-space: nowrap; /* Prevent line breaks */
}

.ticket-info .space {
  display: inline-block;
  width: 20px;
}

.badge-container {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

</style>


<div class="user-info">
  <h1><%= @user.name %> <%= @user.last_name %></h1>
  <h6>Requiring User</h6>
</div>
<h3>Mail: <%= @user.email %></h3>
<h3>Telephone: <%= @user.telephone %></h3>

<div>
  <%= link_to "Edit this requiring user", edit_requiring_user_path(@requiring_user) %> |
  <%= link_to "Back to requiring users", requiring_users_path %>

  <%= button_to "Destroy this requiring user", @requiring_user, method: :delete %>
</div>

<h2>Tickets Created</h2>
<div>
  <% @tickets.each do |ticket| %>
    <p>
    <div class = "user-info">
      <h4><%= ticket.title %></h4>
      <div class = "badge-container">
      <% if ticket.state == "open" %>
        <span class="badge rounded-pill text-bg-primary">Open</span>
      <% elsif ticket.state == "closed" %>
        <span class="badge rounded-pill text-bg-success">Closed</span>
      <% elsif ticket.state == "reopened" %>
        <span class="badge rounded-pill text-bg-warning">Reopened</span>
      <% end %>
      </div>
    </div>
    <h6 class="ticket-info">
      <span class="title">Fecha de creación:</span> <%= ticket.creation_date %>
      <% if ticket.resolution_date %>
        <span class="space"></span>
        <span class="title">Fecha de resolución:</span> <%= ticket.resolution_date %>
      <% end %>
    </h6>
    <p>
    <%= link_to ticket do %>
        <button type="button" class = "btn btn-custom">Show ticket</button>
      <% end %>
    </p>
    </p>
  <% end %>
</div>

<p>
<%= link_to new_ticket_path do %>
    <button type="button" class = "btn btn-custom">Create ticket</button>
  <% end %>
</p>


