<h1><%= @executive.user.name %> <%= @executive.user.last_name %></h1>
<p><small><%= @executive.user.role %></small></p>
<p>Email: <%= @executive.user.email %></p>
<p>Phone: <%= @executive.user.telephone %></p>

<%= link_to 'Edit this executive', edit_executive_path(@executive), class: 'btn btn-primary' %>
<%= link_to 'Destroy this executive', @executive, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
<%= link_to 'Back to executives', executives_path, class: 'btn btn-secondary' %>

